* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #5964e0;
  --secunday-color: #6670e3;
  --violet-opacity: #efeffb;
  --gray: #f5f6f8;
  --gray-dark: #8c9197;
  --black: #131722;
  --black-opacity: #18202d;
  --white: #fff;
  font-size: 16px;
}
body {
  background: var(--gray);
  transition: background linear 0.4s;
}
body.darkmode {
  background: var(--black);
  form.active {
    .full-time {
      background: var(--black-opacity);

      label {
        position: relative;
        color: var(--black);
        &::before {
          margin-left: 10px;
        }
        &::after {
          background: var(--black-opacity);
        }
      }
    }
  }
  .form {
    &__content {
      background: var(--black-opacity);
      .form-control {
        input {
          background: var(--black-opacity);
          color: var(--gray);
        }
        &.full-time {
          label {
            color: var(--gray);
            &::before {
              border: 2px solid rgba(224, 224, 224, 1);
              margin: 0;
            }
          }
        }
      }
    }
  }
  .card-job {
    background: var(--black-opacity);

    &__title {
      a {
        color: var(--gray);
      }
    }
  }
  .text-no-results {
    color: var(--gray)
  }
}
@mixin wrapper {
  margin: 0 25px;
  display: grid;
  grid-template-columns: minmax(200px, 1000px);
  justify-content: center;
}

.header {
  background: var(--primary-color);
  .wrapper {
    @include wrapper();
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    height: 115px;
    position: relative;
    .logo {
      position: absolute;
      bottom: 5em;

      &__title {
        color: var(--white);
        font-size: 1.7em;
        font-weight: 600;
      }
    }
    .darkmode {
      position: absolute;
      bottom: 5.5em;
      right: 0em;
      display: flex;
      align-items: center;
      column-gap: 0.5em;
      label {
        display: block;
        width: 45px;
        height: 22px;
        background: var(--white);
        border-radius: 30px;
        position: relative;

        cursor: pointer;
        &::before {
          content: '';
          position: absolute;
          height: 15px;
          width: 15px;
          background: var(--primary-color);
          border-radius: 100%;
          top: 0;
          bottom: 0;
          left: 3px;
          transition: transform ease-in-out 0.2s;
          margin: auto;
          box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.1);
        }
      }
      input {
        display: none;
      }
      input:checked ~ label::before {
        transform: translateX(23px);
        box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.form {
  .wrapper {
    @include wrapper();
  }
  &__content {
    display: flex;
    background: var(--white);
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -45px;
    border-radius: 8px;
    padding: 0 0.8em;
    form.active {
      .full-time {
        display: flex;
        position: absolute;
        top: 4em;
        display: flex;
        right: 4em;
        background: white;
        padding: 5px;
        width: 150px;
        height: 2em;
        border-radius: 10px;

        border: 1px solid rgba(224, 224, 224, 1);
        z-index: 2;
        label {
          position: relative;
          margin-left: 20px;
          &::before {
            border: 1px solid rgba(224, 224, 224, 1);
          }
          &::after {
            content: '';
            position: absolute;
            height: 17px;
            width: 17px;
            background: white;
            top: -20px;
            right: 0.5em;
            transform: rotate(45deg);
            z-index: -1;
            border-top: 1px solid rgba(224, 224, 224, 1);
            border-left: 1px solid rgba(224, 224, 224, 1);
          }
        }
      }
    }
    form {
      display: grid;
      grid-template-columns: minmax(50px, 500px) 50px 50px;
      margin: auto;
      column-gap: 0.3em;

      .form-control {
        &:nth-of-type(1) {
          display: flex;
          align-items: center;
        }
        &:nth-of-type(2) {
          align-items: center;
        }
        input {
          padding: 1.7em 0.6em;
          border: none;
          font-size: 0.8em;
          font-weight: 500;
          width: 100%;
          &:focus {
            outline: none;
          }
        }
        label {
          margin: 0 0.3em;
        }
        &.full-time {
          align-items: center;
          input {
            max-width: 20px;
            visibility: hidden;
          }
          input:checked ~ label:before {
            height: 20px;
            width: 20px;
            color: var(--primary-color);
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%235964e0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check-circle'%3E%3Cpath d='M22 11.08V12a10 10 0 1 1-5.93-9.14'/%3E%3Cpolyline points='22 4 12 14.01 9 11.01'/%3E%3C/svg%3E")
              center center no-repeat;
            background-size: cover;
            border-color: transparent;
            animation: rotate 0.4s linear;
          }

          label {
            user-select: none;
            cursor: pointer;
            font-weight: 600;
            font-size: 0.9em;
            white-space: nowrap;
            position: relative;
            margin-left: 20px;

            &::before {
              content: '';
              display: block;
              position: absolute;
              height: 15px;
              width: 15px;
              left: -30px;
              bottom: 0;
              top: 0;
              margin: auto;
              border-radius: 100%;
              border: 3px solid rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
      .btn-filter {
        background: transparent;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        border: none;
        margin: auto;

        svg {
          position: relative;
          top: 2px;
          transform: scale(1.3);
          fill: #757575;
        }
      }
      .btn-submit {
        background: var(--primary-color);
        display: grid;
        place-items: center;
        border: none;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        margin: auto;
        color: var(--white);
        cursor: pointer;
        @media (min-width: 640px) {
          height: 40px;
          width: 100px;
        }
        &:hover {
          background: var(--secunday-color);
        }
        span {
          &:nth-child(1) {
            position: relative;
            top: 2px;
          }
        }
      }
    }
  }
}

.results {
  .wrapper {
    @include wrapper();
  }
  &__content {
    display: grid;
    gap: 3em 1em;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-bottom: 2em;
    @media (min-width: 640px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    }
    .card-job {
      background: var(--white);
      padding: 1.5em 2em;
      border-radius: 10px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
      position: relative;

      &__head {
        position: absolute;
        top: -20px;
        .container-logo {
          display: grid;
          place-items: center;
          img {
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            object-fit: contain;
            background: var(--white);
          }
        }
      }
      &__date {
        margin-top: 1em;
        font-weight: 500;
        font-size: 0.8em;
        color: var(--gray-dark);
        padding: 0.2em 0;
      }
      &__title {
        font-weight: 600;
        font-size: 0.9em;
        padding: 0.2em 0;
        a {
          color: var(--black);
          text-decoration: none;
        }
      }
      &__company {
        font-weight: 500;
        font-size: 0.9em;
        padding: 0.2em 0;
        color: var(--gray-dark);
        margin-bottom: 1em;
      }
      &__location {
        color: var(--primary-color);
        font-size: 0.8em;
        font-weight: 600;
      }
    }
  }
}

.pagination {
  .wrapper {
    @include wrapper();
  }
  &__content {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    margin-bottom: 2em;
    button {
      background: var(--primary-color);
      color: var(--violet-opacity);
      border: none;
      cursor: pointer;
      padding: 0.8em 1.4em;
      border-radius: 5px;
      &:hover {
        background: var(--secunday-color);
      }
    }
  }
}
.no-results {
  grid-template-columns: 1fr;
  justify-items: center;
}
.hidden {
  display: none;
}
@media screen and (min-width: 640px) {
  .md\:flex {
    display: flex;
  }
  .md\:block {
    display: block;
  }
  .md\:hidden {
    display: none;
  }
  .md\:rounded-l-b {
    border-radius: 0 0 0 50px;
  }
  .form-control {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .full-time {
    border: none;
  }
  .form__content form {
    grid-template-columns: repeat(2, minmax(100px, 500px)) minmax(150px, 180px) minmax(50px, 100px);
  }
}
.spinner {
  height: 50px;
  width: 50px;
  border: 5px solid var(--primary-color);
  border-top-color: var(--gray-dark);
  border-radius: 50px;
  animation: rotateSpinner 0.7s linear infinite;
}
@keyframes rotateSpinner {
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-color-sheme: dark) {
  body {
    background: var(--black);
  }
}
@keyframes rotate {
  from {
    transform: rotate(-100deg) scale(0.8);
  }
  50% {
    transform: rotate(40deg) scale(0.9);
  }
  to {
    transform: rotate(0deg) scale(1);
  }
}
