* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #5964e0;
  --secunday-color: #6670e3;
  --violet-opacity: #efeffb;
  --gray: #f5f6f8;
  --gray-dark: #8c9197;
  --black: #131722;
  --black-opacity: #18202d;
  --white: #fff;
  font-size: 16px;
}

body {
  background: var(--gray);
  -webkit-transition: background linear 0.4s;
  transition: background linear 0.4s;
}

body.darkmode {
  background: var(--black);
}

.header {
  background: var(--primary-color);
}

.header .wrapper {
  margin: 0 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 1000px);
      grid-template-columns: minmax(200px, 1000px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
  height: 115px;
  position: relative;
}

.header__content .logo {
  position: absolute;
  bottom: 5em;
}

.header__content .logo__title {
  color: var(--white);
  font-size: 1.7em;
  font-weight: 600;
}

.header__content .darkmode {
  position: absolute;
  bottom: 5.5em;
  right: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5em;
          column-gap: 0.5em;
}

.header__content .darkmode label {
  display: block;
  width: 45px;
  height: 22px;
  background: var(--white);
  border-radius: 30px;
  position: relative;
}

.header__content .darkmode label::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  background: var(--primary-color);
  border-radius: 100%;
  top: 0;
  bottom: 0;
  left: 3px;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  margin: auto;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.header__content .darkmode input {
  display: none;
}

.header__content .darkmode input:checked ~ label::before {
  -webkit-transform: translateX(23px);
          transform: translateX(23px);
  -webkit-box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
}

.form .wrapper {
  margin: 0 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 1000px);
      grid-template-columns: minmax(200px, 1000px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--white);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -45px;
  border-radius: 8px;
  overflow: hidden;
  padding: 0 0.8em;
}

.form__content form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(50px, 500px) 50px 50px;
      grid-template-columns: minmax(50px, 500px) 50px 50px;
  margin: auto;
  -webkit-column-gap: 0.3em;
          column-gap: 0.3em;
}

.form__content form .form-control:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__content form .form-control:nth-of-type(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__content form .form-control input {
  padding: 1.7em 0.6em;
  border: none;
  font-size: 0.8em;
  font-weight: 500;
  width: 100%;
}

.form__content form .form-control input:focus {
  outline: none;
}

.form__content form .form-control label {
  margin: 0 0.3em;
}

.form__content form .form-control.full-time {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__content form .form-control.full-time input {
  max-width: 20px;
}

.form__content form .form-control.full-time label {
  font-weight: 600;
  font-size: 0.9em;
  white-space: nowrap;
}

.form__content form .btn-filter {
  background: white;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  border: none;
  margin: auto;
}

.form__content form .btn-filter:hover svg {
  fill: var(--black);
}

.form__content form .btn-filter svg {
  position: relative;
  top: 2px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  fill: #757575;
}

.form__content form .btn-submit {
  background: var(--primary-color);
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin: auto;
  color: var(--white);
  cursor: pointer;
}

@media (min-width: 640px) {
  .form__content form .btn-submit {
    height: 40px;
    width: 100px;
  }
}

.form__content form .btn-submit:hover {
  background: var(--secunday-color);
}

.form__content form .btn-submit span:nth-child(1) {
  position: relative;
  top: 2px;
}

.results .wrapper {
  margin: 0 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 1000px);
      grid-template-columns: minmax(200px, 1000px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results__content {
  display: -ms-grid;
  display: grid;
  gap: 3em 1em;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

@media (min-width: 640px) {
  .results__content {
    -ms-grid-columns: (minmax(200px, 300px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  }
}

.results__content .card-job {
  background: var(--white);
  padding: 1.5em 2em;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.results__content .card-job__head {
  position: absolute;
  top: -20px;
}

.results__content .card-job__head .container-logo {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.results__content .card-job__head .container-logo img {
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  background: var(--white);
}

.results__content .card-job__date {
  margin-top: 1em;
  font-weight: 500;
  font-size: 0.8em;
  color: var(--gray-dark);
  padding: 0.2em 0;
}

.results__content .card-job__title {
  font-weight: 600;
  font-size: 0.9em;
  padding: 0.2em 0;
}

.results__content .card-job__title a {
  color: var(--black);
  text-decoration: none;
}

.results__content .card-job__company {
  font-weight: 500;
  font-size: 0.9em;
  padding: 0.2em 0;
  color: var(--gray-dark);
  margin-bottom: 1em;
}

.results__content .card-job__location {
  color: var(--primary-color);
  font-size: 0.8em;
  font-weight: 600;
}

.pagination .wrapper {
  margin: 0 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 1000px);
      grid-template-columns: minmax(200px, 1000px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 100%;
  margin-bottom: 2em;
}

.pagination__content button {
  background: var(--primary-color);
  color: var(--violet-opacity);
  border: none;
  cursor: pointer;
  padding: .8em 1.4em;
  border-radius: 5px;
}

.pagination__content button:hover {
  background: var(--secunday-color);
}

.hidden {
  display: none;
}

@media screen and (min-width: 640px) {
  .md\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .md\:block {
    display: block;
  }
  .md\:hidden {
    display: none;
  }
  .md\:rounded-l-b {
    border-radius: 0 0 0 50px;
  }
  .form-control {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .full-time {
    border: none;
  }
  .form__content form {
    -ms-grid-columns: (minmax(100px, 500px))[2] minmax(150px, 180px) minmax(50px, 100px);
        grid-template-columns: repeat(2, minmax(100px, 500px)) minmax(150px, 180px) minmax(50px, 100px);
  }
}

@media (prefers-color-sheme: dark) {
  body {
    background: var(--black);
  }
}
/*# sourceMappingURL=styles.css.map */